In [33]:
import pandas as pd
import numpy as np 
import altair as alt

alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [34]:
def retrieve_appregate_data():
    county_infection_data = pd.read_csv('relevant_data/us-counties.csv')
    county_population_data = pd.read_csv('relevant_data/county-population.csv')
    
    county_infection_popu_data = county_infection_data.merge(
        county_population_data, left_on=['county', 'state'], right_on=['county', 'state']
    )
    
    return county_infection_popu_data

In [35]:
data = retrieve_appregate_data()

In [36]:
data

,date,county,state,fips,cases,deaths,population,land_area_km,density_km
0,2020-01-21,Snohomish,Washington,53061.0,1,0,822083,5413,151.872
1,2020-01-22,Snohomish,Washington,53061.0,1,0,822083,5413,151.872
2,2020-01-23,Snohomish,Washington,53061.0,1,0,822083,5413,151.872
3,2020-01-24,Snohomish,Washington,53061.0,1,0,822083,5413,151.872
4,2020-01-25,Snohomish,Washington,53061.0,1,0,822083,5413,151.872
...,...,...,...,...,...,...,...,...,...
100503,2020-04-30,Washington,Kansas,20201.0,1,0,5758,2326,2.475
100504,2020-04-30,Fergus,Montana,30027.0,1,0,11442,11238,1.018
100505,2020-04-30,Hitchcock,Nebraska,31087.0,1,0,2872,1839,1.562
100506,2020-04-30,Garza,Texas,48169.0,1,0,6528,2321,2.813
100507,2020-04-30,Glasscock,Texas,48173.0,1,0,1348,2334,0.578

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100508 entries, 0 to 100507
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   date          100508 non-null  object
 1   county        100508 non-null  object
 2   state         100508 non-null  object
 3   fips          100508 non-null  float64
 4   cases         100508 non-null  int64
 5   deaths        100508 non-null  int64
 6   population    100508 non-null  int64
 7   land_area_km  100508 non-null  int64
 8   density_km    100508 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 7.7+ MB

In [38]:
def count_days(series):
    time_series = pd.to_datetime(series)
    first_date = time_series.iloc[0]
    last_date = time_series.iloc[-1]
    
    return (last_date - first_date).days

def case_count_county_days(series, days = 20):
    if len(series) < days:
        return series.iloc[-1]
    else:
        return series.iloc[days - 1]

In [39]:
def group_data(data):
    grouped_data = data.groupby(['state', 'county']).agg(
        population=('population', lambda x: x.iloc[0]),
        density_km=('density_km', lambda x: x.iloc[0]),
        days_counted=('date', count_days),
        case_sum=('cases', lambda x: x.iloc[-1]),
        death_sum=('deaths', lambda x: x.iloc[-1]),
        case_count_20_days=('cases', case_count_county_days),
        death_count_20_days=('deaths', case_count_county_days)
    )
    
    grouped_data = grouped_data[grouped_data['days_counted'] >= 20]
    grouped_data['confirmed_infection(%_of_pop)'] = grouped_data['case_sum']/grouped_data['population']*100
    grouped_data['death_perc(%_of_case)'] = grouped_data['death_sum']/grouped_data['case_sum']*100
    grouped_data['avg_daily_case_increase(%_of_pop)'] = grouped_data['confirmed_infection(%_of_pop)']/grouped_data['days_counted']
    grouped_data = grouped_data[grouped_data['confirmed_infection(%_of_pop)'] != float("inf")]
    grouped_data['case_count_20_days(%_of_pop)'] = grouped_data['case_count_20_days']/grouped_data['population']*100
    grouped_data['death_count_20_days(%_of_case)'] = grouped_data['death_count_20_days']/grouped_data['case_count_20_days']*100
    
    return grouped_data.reset_index()

In [40]:
grouped_data = group_data(data)

In [41]:
grouped_data

,state,county,population,density_km,days_counted,case_sum,death_sum,case_count_20_days,death_count_20_days,confirmed_infection(%_of_pop),death_perc(%_of_case),avg_daily_case_increase(%_of_pop),case_count_20_days(%_of_pop),death_count_20_days(%_of_case)
0,Alabama,Autauga,54571,35.436,37,42,4,19,1,0.076964,9.523810,0.002080,0.034817,5.263158
1,Alabama,Baldwin,182265,44.261,47,174,3,25,1,0.095465,1.724138,0.002031,0.013716,4.000000
2,Alabama,Barbour,27457,11.979,27,39,1,29,0,0.142040,2.564103,0.005261,0.105620,0.000000
3,Alabama,Bibb,22915,14.215,31,42,0,26,0,0.183286,0.000000,0.005912,0.113463,0.000000
4,Alabama,Blount,57322,34.325,36,37,0,15,0,0.064548,0.000000,0.001793,0.026168,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546,Wyoming,Sublette,10368,0.820,33,1,0,1,0,0.009645,0.000000,0.000292,0.009645,0.000000
2547,Wyoming,Sweetwater,45267,1.676,37,11,0,7,0,0.024300,0.000000,0.000657,0.015464,0.000000
2548,Wyoming,Teton,21675,2.088,43,65,1,40,0,0.299885,1.538462,0.006974,0.184544,0.000000
2549,Wyoming,Uinta,21025,3.899,28,6,0,6,0,0.028537,0.000000,0.001019,0.028537,0.000000
2550,Wyoming,Washakie,8464,1.459,34,4,0,4,0,0.047259,0.000000,0.001390,0.047259,0.000000

In [42]:
grouped_data.sample(10)

,state,county,population,density_km,days_counted,case_sum,death_sum,case_count_20_days,death_count_20_days,confirmed_infection(%_of_pop),death_perc(%_of_case),avg_daily_case_increase(%_of_pop),case_count_20_days(%_of_pop),death_count_20_days(%_of_case)
1923,South Carolina,Charleston,396484,112.734,55,444,7,52,1,0.111984,1.576577,0.002036,0.013115,1.923077
1154,Minnesota,Lyon,25857,13.977,33,7,0,5,0,0.027072,0.000000,0.000820,0.019337,0.000000
2314,Virginia,Caroline,29984,21.728,27,27,1,20,0,0.090048,3.703704,0.003335,0.066702,0.000000
167,California,Kern,905801,42.953,44,910,7,225,2,0.100464,0.769231,0.002283,0.024840,0.888889
2077,Tennessee,Warren,39839,35.539,31,7,0,4,0,0.017571,0.000000,0.000567,0.010040,0.000000
1715,Ohio,Mercer,40814,34.012,36,21,1,13,1,0.051453,4.761905,0.001429,0.031852,7.692308
1967,South Dakota,Clay,13864,12.993,32,6,0,5,0,0.043278,0.000000,0.001352,0.036065,0.000000
1406,Nebraska,Merrick,7802,6.212,27,12,0,9,0,0.153807,0.000000,0.005697,0.115355,0.000000
372,Georgia,Colquitt,46137,32.264,37,185,6,87,5,0.400980,3.243243,0.010837,0.188569,5.747126
2129,Texas,Donley,3311,1.374,28,24,0,24,0,0.724857,0.000000,0.025888,0.724857,0.000000

In [43]:
county_health = pd.read_csv('relevant_data/us-county-health-rankings-2020.csv')

In [44]:
county_health = county_health.dropna(subset=['county'])

In [45]:
county_health

,fips,state,county,num_deaths,years_of_potential_life_lost_rate,95percent_ci_low,95percent_ci_high,quartile,ypll_rate_aian,ypll_rate_aian_95percent_ci_low,...,percent_hispanic,num_non_hispanic_white,percent_non_hispanic_white,num_not_proficient_in_english,percent_not_proficient_in_english,95percent_ci_low_39,95percent_ci_high_39,percent_female,num_rural,percent_rural
1,1001,Alabama,Autauga,791.0,8128.591190,7283.340731,8973.841649,1.0,NaN,NaN,...,2.965774,41316,74.308016,426,0.820225,0.347891,1.292558,51.448715,22921.0,42.002162
2,1003,Alabama,Baldwin,2967.0,7354.122530,6918.554269,7789.690790,1.0,NaN,NaN,...,4.646779,181201,83.111337,1068,0.543517,0.347271,0.739763,51.538377,77060.0,42.279099
3,1005,Alabama,Barbour,472.0,10253.573403,8782.217281,11724.929524,2.0,NaN,NaN,...,4.276355,11356,45.641252,398,1.631683,0.824903,2.438462,47.216752,18613.0,67.789635
4,1007,Alabama,Bibb,471.0,11977.539484,10344.064842,13611.014126,3.0,NaN,NaN,...,2.625000,16708,74.589286,57,0.268210,0.000000,0.807504,46.781250,15663.0,68.352607
5,1009,Alabama,Blount,1085.0,11335.071134,10288.871387,12381.270881,3.0,NaN,NaN,...,9.571231,50255,86.886238,934,1.724520,1.198129,2.250911,50.726141,51562.0,89.951502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,532.0,7831.827655,6915.944384,8747.710925,4.0,NaN,NaN,...,16.083250,34145,79.312908,669,1.633221,0.993813,2.272629,48.544749,4782.0,10.916313
3189,56039,Wyoming,Teton,109.0,2730.603992,1991.644111,3469.563872,1.0,NaN,NaN,...,14.878038,18812,81.504268,945,4.314477,2.787340,5.841615,48.403449,9887.0,46.430920
3190,56041,Wyoming,Uinta,256.0,7330.683549,6011.148684,8650.218415,3.0,NaN,NaN,...,9.236908,17741,87.398394,133,0.696080,0.000000,1.429709,49.332479,9101.0,43.095937
3191,56043,Wyoming,Washakie,110.0,6586.049959,4500.924119,8671.175799,2.0,NaN,NaN,...,14.051997,6498,82.409639,25,0.324886,0.000000,1.376766,49.422955,3068.0,35.954529
3192,56045,Wyoming,Weston,89.0,5388.706947,3608.901615,7739.082057,1.0,NaN,NaN,...,4.076360,6267,89.952634,58,0.862069,0.000000,2.255604,47.050380,3931.0,54.536626

In [46]:
county_health.columns[:100]

Index(['fips', 'state', 'county', 'num_deaths',
       'years_of_potential_life_lost_rate', '95percent_ci_low',
       '95percent_ci_high', 'quartile', 'ypll_rate_aian',
       'ypll_rate_aian_95percent_ci_low', 'ypll_rate_aian_95percent_ci_high',
       'ypll_rate_asian', 'ypll_rate_asian_95percent_ci_low',
       'ypll_rate_asian_95percent_ci_high', 'ypll_rate_black',
       'ypll_rate_black_95percent_ci_low', 'ypll_rate_black_95percent_ci_high',
       'ypll_rate_hispanic', 'ypll_rate_hispanic_95percent_ci_low',
       'ypll_rate_hispanic_95percent_ci_high', 'ypll_rate_white',
       'ypll_rate_white_95percent_ci_low', 'ypll_rate_white_95percent_ci_high',
       'percent_fair_or_poor_health', '95percent_ci_low_2',
       '95percent_ci_high_2', 'quartile_2',
       'average_number_of_physically_unhealthy_days', '95percent_ci_low_3',
       '95percent_ci_high_3', 'quartile_3',
       'average_number_of_mentally_unhealthy_days', '95percent_ci_low_4',
       '95percent_ci_high_4', 'quartile_4', 'unreliable',
       'percent_low_birthweight', '95percent_ci_low_5', '95percent_ci_high_5',
       'quartile_5', 'percent_lbw_aian', 'percent_lbw_aian_95percent_ci_low',
       'percent_lbw_aian_95percent_ci_high', 'percent_lbw_asian',
       'percent_lbw_asian_95percent_ci_low',
       'percent_lbw_asian_95percent_ci_high', 'percent_lbw_black',
       'percent_lbw_black_95percent_ci_low',
       'percent_lbw_black_95percent_ci_high', 'percent_lbw_hispanic',
       'percent_lbw_hispanic_95percent_ci_low',
       'percent_lbw_hispanic_95percent_ci_high', 'percent_lbw_white',
       'percent_lbw_white_95percent_ci_low',
       'percent_lbw_white_95percent_ci_high', 'percent_smokers',
       '95percent_ci_low_6', '95percent_ci_high_6', 'quartile_6',
       'percent_adults_with_obesity', '95percent_ci_low_7',
       '95percent_ci_high_7', 'quartile_7', 'food_environment_index',
       'quartile_8', 'percent_physically_inactive', '95percent_ci_low_8',
       '95percent_ci_high_8', 'quartile_9',
       'percent_with_access_to_exercise_opportunities', 'quartile_10',
       'percent_excessive_drinking', '95percent_ci_low_9',
       '95percent_ci_high_9', 'quartile_11',
       'num_alcohol_impaired_driving_deaths', 'num_driving_deaths',
       'percent_driving_deaths_with_alcohol_involvement',
       '95percent_ci_low_10', '95percent_ci_high_10', 'quartile_12',
       'num_chlamydia_cases', 'chlamydia_rate', 'quartile_13',
       'teen_birth_rate', '95percent_ci_low_11', '95percent_ci_high_11',
       'quartile_14', 'teen_birth_rate_aian',
       'teen_birth_rate_aian_95percent_ci_low',
       'teen_birth_rate_aian_95percent_ci_high', 'teen_birth_rate_asian',
       'teen_birth_rate_asian_95percent_ci_low',
       'teen_birth_rate_asian_95percent_ci_high', 'teen_birth_rate_black',
       'teen_birth_rate_black_95percent_ci_low',
       'teen_birth_rate_black_95percent_ci_high', 'teen_birth_rate_hispanic',
       'teen_birth_rate_hispanic_95percent_ci_low',
       'teen_birth_rate_hispanic_95percent_ci_high'],
      dtype='object')

In [53]:
excluded_column_words = [
    'aian',
    'asian',
    'black',
    'hispanic',
    'white',
    'quartile',
    'ci_high',
    'ci_low',
    'unreliabe',
    'alaska',
    'hawaiian',
    'petitioned',
    'fips',
    'num',
    'unreliable',
    'denominator',
    'years_of_potential_life_lost_rate',
    'chlamydia_rate',
    'ratio',
    'population'
]


filtered_columns = county_health.columns[~county_health.columns.str.contains('|'.join(excluded_column_words))]

In [54]:
filtered_columns

Index(['state', 'county', 'percent_fair_or_poor_health',
       'percent_low_birthweight', 'percent_smokers',
       'percent_adults_with_obesity', 'food_environment_index',
       'percent_physically_inactive',
       'percent_with_access_to_exercise_opportunities',
       'percent_excessive_drinking',
       'percent_driving_deaths_with_alcohol_involvement', 'teen_birth_rate',
       'percent_uninsured', 'primary_care_physicians_rate', 'dentist_rate',
       'mental_health_provider_rate', 'preventable_hospitalization_rate',
       'percent_with_annual_mammogram', 'percent_vaccinated', 'cohort_size',
       'high_school_graduation_rate', 'percent_some_college', 'labor_force',
       'percent_unemployed', 'percent_children_in_poverty',
       '80th_percentile_income', '20th_percentile_income',
       'percent_single_parent_households', 'social_association_rate',
       'annual_average_violent_crimes', 'violent_crime_rate',
       'injury_death_rate', 'average_daily_pm2_5',
       'presence_of_water_violation', 'percent_severe_housing_problems',
       'severe_housing_cost_burden', 'overcrowding', 'inadequate_facilities',
       'percent_drive_alone_to_work', 'percent_long_commute_drives_alone',
       'life_expectancy', 'age_adjusted_death_rate', 'child_mortality_rate',
       'infant_mortality_rate', 'percent_frequent_physical_distress',
       'percent_frequent_mental_distress', 'percent_adults_with_diabetes',
       'hiv_prevalence_rate', 'percent_food_insecure',
       'percent_limited_access_to_healthy_foods',
       'drug_overdose_mortality_rate', 'motor_vehicle_mortality_rate',
       'percent_insufficient_sleep', 'percent_uninsured_2',
       'percent_uninsured_3', 'other_primary_care_provider_rate',
       'percent_disconnected_youth', 'average_grade_performance',
       'average_grade_performance_2', 'median_household_income',
       'percent_enrolled_in_free_or_reduced_lunch', 'segregation_index',
       'segregation_index_2', 'homicide_rate', 'suicide_rate_age_adjusted',
       'crude_rate', 'firearm_fatalities_rate', 'juvenile_arrest_rate',
       'average_traffic_volume_per_meter_of_major_roadways',
       'percent_homeowners', 'percent_severe_housing_cost_burden',
       'percent_less_than_18_years_of_age', 'percent_65_and_over',
       'percent_not_proficient_in_english', 'percent_female', 'percent_rural'],
      dtype='object')

In [55]:
len(filtered_columns)

76

In [56]:
filtered_county_health = county_health[filtered_columns]

In [57]:
filtered_county_health

,state,county,percent_fair_or_poor_health,percent_low_birthweight,percent_smokers,percent_adults_with_obesity,food_environment_index,percent_physically_inactive,percent_with_access_to_exercise_opportunities,percent_excessive_drinking,...,firearm_fatalities_rate,juvenile_arrest_rate,average_traffic_volume_per_meter_of_major_roadways,percent_homeowners,percent_severe_housing_cost_burden,percent_less_than_18_years_of_age,percent_65_and_over,percent_not_proficient_in_english,percent_female,percent_rural
1,Alabama,Autauga,20.882987,8.619529,18.081557,33.3,7.2,34.7,69.130124,15.026031,...,16.230078,10.625000,88.457040,74.894625,13.403481,23.674035,15.562670,0.820225,51.448715,42.002162
2,Alabama,Baldwin,17.509134,8.345003,17.489033,31.0,8.0,26.5,73.713549,17.958310,...,14.093514,26.192661,86.997430,73.619343,11.725808,21.607911,20.443350,0.543517,51.538377,42.279099
3,Alabama,Barbour,29.591802,11.474559,21.999985,41.7,5.6,23.5,53.166770,12.844016,...,17.761715,15.000000,102.291762,61.397779,14.059546,20.867328,19.420441,1.631683,47.216752,67.789635
4,Alabama,Bibb,19.439724,10.308710,19.114200,37.6,7.8,33.5,16.251364,15.570042,...,23.936170,NaN,29.335580,75.073099,9.886874,20.477679,16.473214,0.268210,46.781250,68.352607
5,Alabama,Blount,21.745293,7.604563,19.208672,33.8,8.4,30.3,15.634486,14.230594,...,20.072746,7.460317,33.411782,78.626214,8.462257,23.153527,18.236515,1.724520,50.726141,89.951502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,Wyoming,Sweetwater,14.813082,9.705248,18.073422,29.8,7.7,25.0,89.686344,22.871908,...,15.881227,15.961538,154.754714,75.370172,8.385595,26.224710,12.111217,1.633221,48.544749,10.916313
3189,Wyoming,Teton,11.914358,7.736721,14.546369,12.4,8.2,11.6,99.718230,25.533577,...,NaN,4.210526,135.188600,57.730946,10.769059,18.365755,15.415277,4.314477,48.403449,46.430920
3190,Wyoming,Uinta,15.537464,10.110206,17.212675,35.8,7.4,27.2,84.018373,19.113357,...,18.394276,8.148148,96.191604,75.268261,7.707668,28.789596,14.079511,0.696080,49.332479,43.095937
3191,Wyoming,Washakie,15.955971,7.028754,16.859400,28.8,8.3,28.2,83.182937,16.523261,...,NaN,15.000000,82.822155,76.826417,6.816780,22.739379,21.686747,0.324886,49.422955,35.954529
3192,Wyoming,Weston,13.934025,6.589147,16.693134,33.3,7.9,26.9,63.027192,17.684551,...,NaN,7.142857,64.304299,77.694317,11.050291,20.769341,20.510980,0.862069,47.050380,54.536626

In [58]:
filtered_county_health.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3142 entries, 1 to 3192
Data columns (total 76 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   state                                               3142 non-null   object
 1   county                                              3142 non-null   object
 2   percent_fair_or_poor_health                         3142 non-null   float64
 3   percent_low_birthweight                             3035 non-null   float64
 4   percent_smokers                                     3142 non-null   float64
 5   percent_adults_with_obesity                         3142 non-null   float64
 6   food_environment_index                              3123 non-null   float64
 7   percent_physically_inactive                         3142 non-null   float64
 8   percent_with_access_to_exercise_opportunities       3136 non-null   float64
 9   percent_excessive_drinking                          3142 non-null   float64
 10  percent_driving_deaths_with_alcohol_involvement     3107 non-null   float64
 11  teen_birth_rate                                     2987 non-null   float64
 12  percent_uninsured                                   3141 non-null   float64
 13  primary_care_physicians_rate                        2995 non-null   float64
 14  dentist_rate                                        3054 non-null   float64
 15  mental_health_provider_rate                         2912 non-null   float64
 16  preventable_hospitalization_rate                    3099 non-null   float64
 17  percent_with_annual_mammogram                       3123 non-null   float64
 18  percent_vaccinated                                  3124 non-null   float64
 19  cohort_size                                         2494 non-null   float64
 20  high_school_graduation_rate                         3046 non-null   float64
 21  percent_some_college                                3142 non-null   float64
 22  labor_force                                         3141 non-null   float64
 23  percent_unemployed                                  3141 non-null   float64
 24  percent_children_in_poverty                         3141 non-null   float64
 25  80th_percentile_income                              3140 non-null   float64
 26  20th_percentile_income                              3140 non-null   float64
 27  percent_single_parent_households                    3140 non-null   float64
 28  social_association_rate                             3142 non-null   float64
 29  annual_average_violent_crimes                       2951 non-null   float64
 30  violent_crime_rate                                  2951 non-null   float64
 31  injury_death_rate                                   3042 non-null   float64
 32  average_daily_pm2_5                                 3108 non-null   float64
 33  presence_of_water_violation                         3099 non-null   object
 34  percent_severe_housing_problems                     3142 non-null   float64
 35  severe_housing_cost_burden                          3142 non-null   float64
 36  overcrowding                                        3142 non-null   float64
 37  inadequate_facilities                               3142 non-null   float64
 38  percent_drive_alone_to_work                         3141 non-null   float64
 39  percent_long_commute_drives_alone                   3141 non-null   float64
 40  life_expectancy                                     3069 non-null   float64
 41  age_adjusted_death_rate                             3082 non-null   float64
 42  child_mortality_rate                                1911 non-null   float64
 43  infant_mortality_rate                               1258 non-null   float64
 44  percent_frequent_physical_distress                  3142 non-null   float64
 45  percent_frequent_mental_distress                    3142 non-null   float64
 46  percent_adults_with_diabetes                        3142 non-null   float64
 47  hiv_prevalence_rate                                 2283 non-null   float64
 48  percent_food_insecure                               3142 non-null   float64
 49  percent_limited_access_to_healthy_foods             3123 non-null   float64
 50  drug_overdose_mortality_rate                        1722 non-null   float64
 51  motor_vehicle_mortality_rate                        2698 non-null   float64
 52  percent_insufficient_sleep                          3142 non-null   float64
 53  percent_uninsured_2                                 3141 non-null   float64
 54  percent_uninsured_3                                 3141 non-null   float64
 55  other_primary_care_provider_rate                    3120 non-null   float64
 56  percent_disconnected_youth                          1376 non-null   float64
 57  average_grade_performance                           2506 non-null   float64
 58  average_grade_performance_2                         2468 non-null   float64
 59  median_household_income                             3141 non-null   float64
 60  percent_enrolled_in_free_or_reduced_lunch           3020 non-null   float64
 61  segregation_index                                   2069 non-null   float64
 62  segregation_index_2                                 2791 non-null   float64
 63  homicide_rate                                       1284 non-null   float64
 64  suicide_rate_age_adjusted                           2379 non-null   float64
 65  crude_rate                                          2379 non-null   float64
 66  firearm_fatalities_rate                             2226 non-null   float64
 67  juvenile_arrest_rate                                2139 non-null   float64
 68  average_traffic_volume_per_meter_of_major_roadways  3142 non-null   float64
 69  percent_homeowners                                  3142 non-null   float64
 70  percent_severe_housing_cost_burden                  3138 non-null   float64
 71  percent_less_than_18_years_of_age                   3142 non-null   float64
 72  percent_65_and_over                                 3142 non-null   float64
 73  percent_not_proficient_in_english                   3142 non-null   float64
 74  percent_female                                      3142 non-null   float64
 75  percent_rural                                       3135 non-null   float64
dtypes: float64(73), object(3)
memory usage: 1.8+ MB

In [59]:
complete_data = grouped_data.merge(
    filtered_county_health, left_on=['county', 'state'], right_on=['county', 'state']
)

In [60]:
complete_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2549 entries, 0 to 2548
Data columns (total 88 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   state                                               2549 non-null   object
 1   county                                              2549 non-null   object
 2   population                                          2549 non-null   int64
 3   density_km                                          2549 non-null   float64
 4   days_counted                                        2549 non-null   int64
 5   case_sum                                            2549 non-null   int64
 6   death_sum                                           2549 non-null   int64
 7   case_count_20_days                                  2549 non-null   int64
 8   death_count_20_days                                 2549 non-null   int64
 9   confirmed_infection(%_of_pop)                       2549 non-null   float64
 10  death_perc(%_of_case)                               2549 non-null   float64
 11  avg_daily_case_increase(%_of_pop)                   2549 non-null   float64
 12  case_count_20_days(%_of_pop)                        2549 non-null   float64
 13  death_count_20_days(%_of_case)                      2549 non-null   float64
 14  percent_fair_or_poor_health                         2549 non-null   float64
 15  percent_low_birthweight                             2534 non-null   float64
 16  percent_smokers                                     2549 non-null   float64
 17  percent_adults_with_obesity                         2549 non-null   float64
 18  food_environment_index                              2535 non-null   float64
 19  percent_physically_inactive                         2549 non-null   float64
 20  percent_with_access_to_exercise_opportunities       2549 non-null   float64
 21  percent_excessive_drinking                          2549 non-null   float64
 22  percent_driving_deaths_with_alcohol_involvement     2545 non-null   float64
 23  teen_birth_rate                                     2518 non-null   float64
 24  percent_uninsured                                   2549 non-null   float64
 25  primary_care_physicians_rate                        2476 non-null   float64
 26  dentist_rate                                        2491 non-null   float64
 27  mental_health_provider_rate                         2446 non-null   float64
 28  preventable_hospitalization_rate                    2541 non-null   float64
 29  percent_with_annual_mammogram                       2548 non-null   float64
 30  percent_vaccinated                                  2548 non-null   float64
 31  cohort_size                                         2140 non-null   float64
 32  high_school_graduation_rate                         2511 non-null   float64
 33  percent_some_college                                2549 non-null   float64
 34  labor_force                                         2549 non-null   float64
 35  percent_unemployed                                  2549 non-null   float64
 36  percent_children_in_poverty                         2549 non-null   float64
 37  80th_percentile_income                              2548 non-null   float64
 38  20th_percentile_income                              2548 non-null   float64
 39  percent_single_parent_households                    2549 non-null   float64
 40  social_association_rate                             2549 non-null   float64
 41  annual_average_violent_crimes                       2425 non-null   float64
 42  violent_crime_rate                                  2425 non-null   float64
 43  injury_death_rate                                   2535 non-null   float64
 44  average_daily_pm2_5                                 2544 non-null   float64
 45  presence_of_water_violation                         2545 non-null   object
 46  percent_severe_housing_problems                     2549 non-null   float64
 47  severe_housing_cost_burden                          2549 non-null   float64
 48  overcrowding                                        2549 non-null   float64
 49  inadequate_facilities                               2549 non-null   float64
 50  percent_drive_alone_to_work                         2548 non-null   float64
 51  percent_long_commute_drives_alone                   2548 non-null   float64
 52  life_expectancy                                     2544 non-null   float64
 53  age_adjusted_death_rate                             2543 non-null   float64
 54  child_mortality_rate                                1806 non-null   float64
 55  infant_mortality_rate                               1215 non-null   float64
 56  percent_frequent_physical_distress                  2549 non-null   float64
 57  percent_frequent_mental_distress                    2549 non-null   float64
 58  percent_adults_with_diabetes                        2549 non-null   float64
 59  hiv_prevalence_rate                                 2023 non-null   float64
 60  percent_food_insecure                               2549 non-null   float64
 61  percent_limited_access_to_healthy_foods             2535 non-null   float64
 62  drug_overdose_mortality_rate                        1627 non-null   float64
 63  motor_vehicle_mortality_rate                        2398 non-null   float64
 64  percent_insufficient_sleep                          2549 non-null   float64
 65  percent_uninsured_2                                 2549 non-null   float64
 66  percent_uninsured_3                                 2549 non-null   float64
 67  other_primary_care_provider_rate                    2538 non-null   float64
 68  percent_disconnected_youth                          1296 non-null   float64
 69  average_grade_performance                           2071 non-null   float64
 70  average_grade_performance_2                         2044 non-null   float64
 71  median_household_income                             2549 non-null   float64
 72  percent_enrolled_in_free_or_reduced_lunch           2439 non-null   float64
 73  segregation_index                                   1927 non-null   float64
 74  segregation_index_2                                 2451 non-null   float64
 75  homicide_rate                                       1236 non-null   float64
 76  suicide_rate_age_adjusted                           2153 non-null   float64
 77  crude_rate                                          2153 non-null   float64
 78  firearm_fatalities_rate                             2057 non-null   float64
 79  juvenile_arrest_rate                                1801 non-null   float64
 80  average_traffic_volume_per_meter_of_major_roadways  2549 non-null   float64
 81  percent_homeowners                                  2549 non-null   float64
 82  percent_severe_housing_cost_burden                  2548 non-null   float64
 83  percent_less_than_18_years_of_age                   2549 non-null   float64
 84  percent_65_and_over                                 2549 non-null   float64
 85  percent_not_proficient_in_english                   2549 non-null   float64
 86  percent_female                                      2549 non-null   float64
 87  percent_rural                                       2548 non-null   float64
dtypes: float64(79), int64(6), object(3)
memory usage: 1.7+ MB

In [107]:
complete_data.dropna(thresh=2400, axis=1).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2549 entries, 0 to 2548
Data columns (total 73 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   state                                               2549 non-null   object
 1   county                                              2549 non-null   object
 2   population                                          2549 non-null   int64
 3   density_km                                          2549 non-null   float64
 4   days_counted                                        2549 non-null   int64
 5   case_sum                                            2549 non-null   int64
 6   death_sum                                           2549 non-null   int64
 7   case_count_20_days                                  2549 non-null   int64
 8   death_count_20_days                                 2549 non-null   int64
 9   confirmed_infection(%_of_pop)                       2549 non-null   float64
 10  death_perc(%_of_case)                               2549 non-null   float64
 11  avg_daily_case_increase(%_of_pop)                   2549 non-null   float64
 12  case_count_20_days(%_of_pop)                        2549 non-null   float64
 13  death_count_20_days(%_of_case)                      2549 non-null   float64
 14  percent_fair_or_poor_health                         2549 non-null   float64
 15  percent_low_birthweight                             2534 non-null   float64
 16  percent_smokers                                     2549 non-null   float64
 17  percent_adults_with_obesity                         2549 non-null   float64
 18  food_environment_index                              2535 non-null   float64
 19  percent_physically_inactive                         2549 non-null   float64
 20  percent_with_access_to_exercise_opportunities       2549 non-null   float64
 21  percent_excessive_drinking                          2549 non-null   float64
 22  percent_driving_deaths_with_alcohol_involvement     2545 non-null   float64
 23  teen_birth_rate                                     2518 non-null   float64
 24  percent_uninsured                                   2549 non-null   float64
 25  primary_care_physicians_rate                        2476 non-null   float64
 26  dentist_rate                                        2491 non-null   float64
 27  mental_health_provider_rate                         2446 non-null   float64
 28  preventable_hospitalization_rate                    2541 non-null   float64
 29  percent_with_annual_mammogram                       2548 non-null   float64
 30  percent_vaccinated                                  2548 non-null   float64
 31  high_school_graduation_rate                         2511 non-null   float64
 32  percent_some_college                                2549 non-null   float64
 33  labor_force                                         2549 non-null   float64
 34  percent_unemployed                                  2549 non-null   float64
 35  percent_children_in_poverty                         2549 non-null   float64
 36  80th_percentile_income                              2548 non-null   float64
 37  20th_percentile_income                              2548 non-null   float64
 38  percent_single_parent_households                    2549 non-null   float64
 39  social_association_rate                             2549 non-null   float64
 40  annual_average_violent_crimes                       2425 non-null   float64
 41  violent_crime_rate                                  2425 non-null   float64
 42  injury_death_rate                                   2535 non-null   float64
 43  average_daily_pm2_5                                 2544 non-null   float64
 44  presence_of_water_violation                         2545 non-null   object
 45  percent_severe_housing_problems                     2549 non-null   float64
 46  severe_housing_cost_burden                          2549 non-null   float64
 47  overcrowding                                        2549 non-null   float64
 48  inadequate_facilities                               2549 non-null   float64
 49  percent_drive_alone_to_work                         2548 non-null   float64
 50  percent_long_commute_drives_alone                   2548 non-null   float64
 51  life_expectancy                                     2544 non-null   float64
 52  age_adjusted_death_rate                             2543 non-null   float64
 53  percent_frequent_physical_distress                  2549 non-null   float64
 54  percent_frequent_mental_distress                    2549 non-null   float64
 55  percent_adults_with_diabetes                        2549 non-null   float64
 56  percent_food_insecure                               2549 non-null   float64
 57  percent_limited_access_to_healthy_foods             2535 non-null   float64
 58  percent_insufficient_sleep                          2549 non-null   float64
 59  percent_uninsured_2                                 2549 non-null   float64
 60  percent_uninsured_3                                 2549 non-null   float64
 61  other_primary_care_provider_rate                    2538 non-null   float64
 62  median_household_income                             2549 non-null   float64
 63  percent_enrolled_in_free_or_reduced_lunch           2439 non-null   float64
 64  segregation_index_2                                 2451 non-null   float64
 65  average_traffic_volume_per_meter_of_major_roadways  2549 non-null   float64
 66  percent_homeowners                                  2549 non-null   float64
 67  percent_severe_housing_cost_burden                  2548 non-null   float64
 68  percent_less_than_18_years_of_age                   2549 non-null   float64
 69  percent_65_and_over                                 2549 non-null   float64
 70  percent_not_proficient_in_english                   2549 non-null   float64
 71  percent_female                                      2549 non-null   float64
 72  percent_rural                                       2548 non-null   float64
dtypes: float64(64), int64(6), object(3)
memory usage: 1.4+ MB

In [108]:
final_data = complete_data.dropna(thresh=2400, axis=1)

In [109]:
final_data.shape

(2549, 73)

In [112]:
final_data.dropna()

,state,county,population,density_km,days_counted,case_sum,death_sum,case_count_20_days,death_count_20_days,confirmed_infection(%_of_pop),...,percent_enrolled_in_free_or_reduced_lunch,segregation_index_2,average_traffic_volume_per_meter_of_major_roadways,percent_homeowners,percent_severe_housing_cost_burden,percent_less_than_18_years_of_age,percent_65_and_over,percent_not_proficient_in_english,percent_female,percent_rural
0,Alabama,Autauga,54571,35.436,37,42,4,19,1,0.076964,...,43.408673,23.628395,88.457040,74.894625,13.403481,23.674035,15.562670,0.820225,51.448715,42.002162
1,Alabama,Baldwin,182265,44.261,47,174,3,25,1,0.095465,...,48.486565,31.825343,86.997430,73.619343,11.725808,21.607911,20.443350,0.543517,51.538377,42.279099
2,Alabama,Barbour,27457,11.979,27,39,1,29,0,0.142040,...,63.292302,23.449713,102.291762,61.397779,14.059546,20.867328,19.420441,1.631683,47.216752,67.789635
3,Alabama,Bibb,22915,14.215,31,42,0,26,0,0.183286,...,61.562116,52.600206,29.335580,75.073099,9.886874,20.477679,16.473214,0.268210,46.781250,68.352607
4,Alabama,Blount,57322,34.325,36,37,0,15,0,0.064548,...,52.906287,17.694495,33.411782,78.626214,8.462257,23.153527,18.236515,1.724520,50.726141,89.951502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2542,Wyoming,Park,28702,1.596,44,1,0,1,0,0.003484,...,34.536853,22.828463,85.954553,71.729148,8.323841,20.594053,23.206247,0.627835,50.194380,44.240383
2543,Wyoming,Sheridan,29596,4.529,50,12,0,8,0,0.040546,...,32.822946,19.720794,100.097335,67.900296,11.440945,21.373995,20.993616,0.348727,49.793272,35.478775
2545,Wyoming,Sweetwater,45267,1.676,37,11,0,7,0,0.024300,...,39.333579,25.352653,154.754714,75.370172,8.385595,26.224710,12.111217,1.633221,48.544749,10.916313
2547,Wyoming,Uinta,21025,3.899,28,6,0,6,0,0.028537,...,37.784558,11.577927,96.191604,75.268261,7.707668,28.789596,14.079511,0.696080,49.332479,43.095937
2548,Wyoming,Washakie,8464,1.459,34,4,0,4,0,0.047259,...,37.508651,10.866451,82.822155,76.826417,6.816780,22.739379,21.686747,0.324886,49.422955,35.954529

In [113]:
wrangled_data = final_data.dropna()

In [114]:
print(wrangled_data.columns)

Index(['state', 'county', 'population', 'density_km', 'days_counted',
       'case_sum', 'death_sum', 'case_count_20_days', 'death_count_20_days',
       'confirmed_infection(%_of_pop)', 'death_perc(%_of_case)',
       'avg_daily_case_increase(%_of_pop)', 'case_count_20_days(%_of_pop)',
       'death_count_20_days(%_of_case)', 'percent_fair_or_poor_health',
       'percent_low_birthweight', 'percent_smokers',
       'percent_adults_with_obesity', 'food_environment_index',
       'percent_physically_inactive',
       'percent_with_access_to_exercise_opportunities',
       'percent_excessive_drinking',
       'percent_driving_deaths_with_alcohol_involvement', 'teen_birth_rate',
       'percent_uninsured', 'primary_care_physicians_rate', 'dentist_rate',
       'mental_health_provider_rate', 'preventable_hospitalization_rate',
       'percent_with_annual_mammogram', 'percent_vaccinated',
       'high_school_graduation_rate', 'percent_some_college', 'labor_force',
       'percent_unemployed', 'percent_children_in_poverty',
       '80th_percentile_income', '20th_percentile_income',
       'percent_single_parent_households', 'social_association_rate',
       'annual_average_violent_crimes', 'violent_crime_rate',
       'injury_death_rate', 'average_daily_pm2_5',
       'presence_of_water_violation', 'percent_severe_housing_problems',
       'severe_housing_cost_burden', 'overcrowding', 'inadequate_facilities',
       'percent_drive_alone_to_work', 'percent_long_commute_drives_alone',
       'life_expectancy', 'age_adjusted_death_rate',
       'percent_frequent_physical_distress',
       'percent_frequent_mental_distress', 'percent_adults_with_diabetes',
       'percent_food_insecure', 'percent_limited_access_to_healthy_foods',
       'percent_insufficient_sleep', 'percent_uninsured_2',
       'percent_uninsured_3', 'other_primary_care_provider_rate',
       'median_household_income', 'percent_enrolled_in_free_or_reduced_lunch',
       'segregation_index_2',
       'average_traffic_volume_per_meter_of_major_roadways',
       'percent_homeowners', 'percent_severe_housing_cost_burden',
       'percent_less_than_18_years_of_age', 'percent_65_and_over',
       'percent_not_proficient_in_english', 'percent_female', 'percent_rural'],
      dtype='object')

In [115]:
wrangled_data = wrangled_data.drop(['population', 'case_sum', 'death_sum'], axis=1)

In [116]:
wrangled_data

,state,county,density_km,days_counted,case_count_20_days,death_count_20_days,confirmed_infection(%_of_pop),death_perc(%_of_case),avg_daily_case_increase(%_of_pop),case_count_20_days(%_of_pop),...,percent_enrolled_in_free_or_reduced_lunch,segregation_index_2,average_traffic_volume_per_meter_of_major_roadways,percent_homeowners,percent_severe_housing_cost_burden,percent_less_than_18_years_of_age,percent_65_and_over,percent_not_proficient_in_english,percent_female,percent_rural
0,Alabama,Autauga,35.436,37,19,1,0.076964,9.523810,0.002080,0.034817,...,43.408673,23.628395,88.457040,74.894625,13.403481,23.674035,15.562670,0.820225,51.448715,42.002162
1,Alabama,Baldwin,44.261,47,25,1,0.095465,1.724138,0.002031,0.013716,...,48.486565,31.825343,86.997430,73.619343,11.725808,21.607911,20.443350,0.543517,51.538377,42.279099
2,Alabama,Barbour,11.979,27,29,0,0.142040,2.564103,0.005261,0.105620,...,63.292302,23.449713,102.291762,61.397779,14.059546,20.867328,19.420441,1.631683,47.216752,67.789635
3,Alabama,Bibb,14.215,31,26,0,0.183286,0.000000,0.005912,0.113463,...,61.562116,52.600206,29.335580,75.073099,9.886874,20.477679,16.473214,0.268210,46.781250,68.352607
4,Alabama,Blount,34.325,36,15,0,0.064548,0.000000,0.001793,0.026168,...,52.906287,17.694495,33.411782,78.626214,8.462257,23.153527,18.236515,1.724520,50.726141,89.951502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2542,Wyoming,Park,1.596,44,1,0,0.003484,0.000000,0.000079,0.003484,...,34.536853,22.828463,85.954553,71.729148,8.323841,20.594053,23.206247,0.627835,50.194380,44.240383
2543,Wyoming,Sheridan,4.529,50,8,0,0.040546,0.000000,0.000811,0.027031,...,32.822946,19.720794,100.097335,67.900296,11.440945,21.373995,20.993616,0.348727,49.793272,35.478775
2545,Wyoming,Sweetwater,1.676,37,7,0,0.024300,0.000000,0.000657,0.015464,...,39.333579,25.352653,154.754714,75.370172,8.385595,26.224710,12.111217,1.633221,48.544749,10.916313
2547,Wyoming,Uinta,3.899,28,6,0,0.028537,0.000000,0.001019,0.028537,...,37.784558,11.577927,96.191604,75.268261,7.707668,28.789596,14.079511,0.696080,49.332479,43.095937
2548,Wyoming,Washakie,1.459,34,4,0,0.047259,0.000000,0.001390,0.047259,...,37.508651,10.866451,82.822155,76.826417,6.816780,22.739379,21.686747,0.324886,49.422955,35.954529

In [117]:
wrangled_data.to_csv('./relevant_data/wrangled_data.csv', index=False)

Maybe more data is better.